@import "tailwindcss";

:host {
    justify-self: start;
    @apply relative;
}

.bulb {
    @apply w-6;
    @apply h-6;
    @apply rounded-full;

    @apply bg-gray-900;
    @apply border-gray-600;
    @apply border;

}

:host([enabled=true]) {

    .bulb {
        @apply bg-yellow-200;
        @apply border-yellow-50;
    }
}

.switch {
    @apply w-6;
    @apply h-6;
    @apply rounded-full;

    @apply bg-red-700;
    @apply border-red-400;
    @apply border;

    @apply hover:cursor-pointer;

}

:host([enabled=true]) {
    .switch {
        @apply bg-green-700;
        @apply border-green-400;
    }
}

:host(:active) {
    .switch {
        @apply outline-2;
        @apply outline-green-200;
    }
}

:host::after {
    @apply absolute;
    @apply top-1/5;
    @apply left-1;
    @apply text-white;
    font-size: 0.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    content: attr(reg);
}

:host(io-switch)::after {
    @apply cursor-pointer;
}